header {
  /* positioning the header above the content */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* grid layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  justify-items: center;
  /* visual design */
  text-align: center;
  background-color: lightgray;
  transition: all .7s; }
  header h1 {
    color: #fff; }
  header p {
    color: #B2DFDB; }

main {
  padding: 3rem; }

.slide {
  transform: translateY(-100%); }

.slideUp {
  animation-name: slideUp;
  animation-duration: .4s;
  animation-fill-mode: forwards; }

.slideDown {
  animation-name: slideDown;
  animation-duration: .4s;
  animation-fill-mode: forwards; }

@keyframes slideUp {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
body {
  background-color: #eaf1f3;
  font-family: 'Dosis', sans-serif;
  height: 100vh;
  width: 100vw; }

.location {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 4fr 1fr; }
  .location h1 {
    grid-column: 2 / span 3;
    justify-self: end;
    grid-row: 1;
    font-size: 3rem;
    margin: 0;
    padding: 1.5rem 2rem 1rem 2rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 300; }
  .location .weathericon {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    width: 100%; }
  .location .weathericon img {
    width: 60%; }
  .location .today {
    grid-column: 2;
    justify-self: end;
    align-self: center;
    grid-row: 2;
    font-size: 4rem;
    margin: 0;
    color: #5f6a6a; }
  .location .highdegree {
    grid-column: 3;
    grid-row: 2;
    font-size: 20px;
    padding-left: 3px;
    align-self: center;
    padding-bottom: 5px;
    color: #b3b6b7; }
  .location .lowdegree {
    grid-column: 3;
    grid-row: 2;
    font-size: 20px;
    padding-left: 3px;
    align-self: center;
    padding-top: 1.8rem;
    color: #7b7d7d; }
  .location .unit {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    padding-bottom: 3.5rem;
    font-size: 1.6rem;
    color: #5f6a6a; }
  .location h2 {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    align-self: end;
    padding: 5px;
    justify-self: end;
    font-size: 12px;
    padding-bottom: 2rem; }

.tips {
  display: grid;
  grid-template-columns: .5fr 5fr .5fr;
  grid-template-rows: 1;
  font-family: 'Kameron', serif; }

.display {
  grid-column: 2;
  grid-row: 1;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 6vw; }

.hourly {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center; }
  .hourly div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%; }
    .hourly div img {
      width: 110%;
      margin: -7px;
      margin-bottom: -30px; }

.sevendaybutton {
  grid-column: 2;
  padding-top: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  color: #b3b6b7;
  margin-bottom: 1rem; }

.hourly img {
  width: 95%;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
