header {
  /* positioning the header above the content */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* grid layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  /* visual design */
  text-align: center;
  background-color: #C5F3FF;
  transition: all .7s; }
  header h1 {
    color: #fff; }
  header p {
    color: #B2DFDB; }
  header img {
    grid-row: 1;
    align-self: end;
    padding-bottom: 1rem; }

.slide {
  transform: translateY(-100%); }

.slideUp {
  animation-name: slideUp;
  animation-duration: .4s;
  animation-fill-mode: forwards; }

.slideDown {
  animation-name: slideDown;
  animation-duration: .4s;
  animation-fill-mode: forwards; }

@keyframes slideUp {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
header .button {
  align-self: start;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  grid-row: 2; }

body {
  background-color: #E1F9FF;
  font-family: 'Dosis', sans-serif;
  height: 100vh;
  width: 100vw; }

.location {
  display: grid;
  grid-template-rows: .5fr 2fr;
  grid-template-columns: 1fr 1fr 1fr; }
  .location h1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: 1rem 1rem 1rem 1rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 700; }
  .location .weathericon {
    grid-column: 1;
    grid-row: 2; }
  .location .weathericon img {
    width: 160%; }
  .location .today {
    grid-column: 3;
    align-self: center;
    grid-row: 2;
    font-size: 4.5rem;
    margin: 0;
    color: #5f6a6a; }
  .location .highdegree {
    grid-column: 3;
    grid-row: 2;
    font-size: 20px;
    padding-left: 3rem;
    align-self: center;
    padding-bottom: 5px;
    color: #b3b6b7; }
  .location .lowdegree {
    grid-column: 3;
    grid-row: 2;
    font-size: 20px;
    padding-left: 3rem;
    align-self: center;
    padding-top: 2.4rem;
    color: #b3b6b7; }
  .location .unit {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    padding-bottom: 3.5rem;
    font-size: 1.6rem;
    color: #5f6a6a;
    padding-left: 3rem; }
  .location h2 {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    align-self: end;
    padding: 5px;
    justify-self: end;
    font-size: 12px;
    padding-bottom: 2rem; }
  .location .summary {
    grid-row: 2;
    grid-column: 3;
    align-self: end;
    padding-right: 14px; }

.tips {
  display: grid;
  grid-template-columns: .5fr 5fr .5fr;
  grid-template-rows: 1;
  /*font-family: 'Kameron', serif;*/ }

.display {
  grid-column: 2;
  grid-row: 1;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 6vw; }

.hourly {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center; }
  .hourly div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%; }
    .hourly div img {
      width: 110%;
      margin: -7px;
      margin-bottom: -30px; }

.sevendaybutton {
  grid-column: 2;
  padding-top: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  color: #b3b6b7; }

.hourly img {
  width: 95%;
  margin: 0; }

/*.underground{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	grid-column: 1 / span 3;
	grid-row: 1 / span 3;
	z-index: -1;
	}*/
.weatherpanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 2rem 3rem;
  align-items: center;
  justify-items: center;
  height: 30vh;
  color: white; }
  .weatherpanel h3 {
    grid-row: 1; }
  .weatherpanel img {
    grid-row: 2;
    margin: -1rem;
    color: white; }
  .weatherpanel p {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0; }

.sevenday {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url(../img/underground.png);
  background-size: cover;
  height: 100vh; }
  .sevenday .sevendaybutton {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    font-size: 1.3rem; }
  .sevenday .day1p {
    grid-row: 2;
    grid-column: 1; }
  .sevenday .day2p {
    grid-column: 2;
    grid-row: 2;
    align-content: center; }
  .sevenday .day3p {
    grid-column: 3;
    grid-row: 2;
    align-content: end; }
  .sevenday .day4p {
    grid-column: 1;
    grid-row: 3; }
  .sevenday .day5p {
    grid-column: 2;
    grid-row: 3;
    align-content: center; }
  .sevenday .day6p {
    grid-column: 3;
    grid-row: 3;
    align-content: end; }

/*# sourceMappingURL=main.css.map */
