
	


header {
  /* positioning the header above the content */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* grid layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  /* visual design */
  text-align: center;
  background-color: #C5F3FF;
  transition: all .7s;
  h1 {
    color: #fff;
  }
  p {
    color: #B2DFDB;
  }
  img{
  	grid-row: 1;
  	align-self: end;
  	padding-bottom: 1rem;
  }
}


.slide{
	transform: translateY(-100%);
}

.slideUp {
  animation-name: slideUp;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

.slideDown {
  animation-name: slideDown;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

@keyframes slideDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

header .button{
	align-self: start;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
	grid-row: 2;
}