body{
	background-color: #eaf1f3;
    font-family: 'Dosis', sans-serif;
    height: 100vh;
	width: 100vw;

}
.location{
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 4fr 1fr;
		h1{
			grid-column: 2 / span 3;
			justify-self: end;
			grid-row: 1;
			font-size: 3rem;
			margin: 0;
			padding: 1.5rem 2rem 1rem 2rem;
			font-family: 'Dosis', sans-serif;
			font-weight: 300;
					}
		.weathericon{
			grid-column: 2;
			grid-row: 2;
			justify-self: start;
			width: 100%;
		}

		.weathericon img{
			width: 60%;
		}
		.today{
			grid-column: 2;
			justify-self: end;
			align-self: center;
			grid-row: 2;
			font-size: 4rem;
			margin: 0;
			color:  #5f6a6a ;
		}
		.highdegree{
			grid-column: 3;
			grid-row: 2;
			font-size: 20px;
			padding-left: 3px;
			align-self: center;
			padding-bottom: 5px;
			color:  #b3b6b7  ;
		}
		.lowdegree{
			grid-column: 3;
			grid-row: 2;
			font-size: 20px;
			padding-left: 3px;
			align-self: center;
			padding-top: 1.8rem;
			color:   #7b7d7d ;



		}
		.unit{
			grid-column: 3;
		    grid-row: 2;
		    align-self: center;
		    padding-bottom: 3.5rem;
		    font-size: 1.6rem;
		    color:  #5f6a6a ;
		}
		h2{
			grid-column: 2;
			grid-row: 2;
			margin: 0;
			align-self: end;
			padding: 5px;
			justify-self: end;
			font-size: 12px;
			padding-bottom: 2rem;
		}
		.feelslike{

		}

}

.tips {
	display: grid;
	grid-template-columns: .5fr 5fr .5fr;
	grid-template-rows: 1;

	  }

 .display{
	  	grid-column: 2;
	  	grid-row: 1;
	  	padding: 1rem 1rem 1rem 1rem;
	  font-size: 6vw;
	  }

.hourly{
	  	display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		align-items: center;
		justify-items: center;

		div {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
			width: 100%;
			img{
			width: 110%;
			margin: -7px;
			margin-bottom: -30px;
			}
			
		}

	}
	
.sevendaybutton{
			grid-column: 2;
			padding-top: 1rem;
			text-decoration: none;
			color: white;
			font-weight: 700;		
		}

	.hourly img{
			width: 110%;
			margin: 0;
		}

